/*
	newApp SASS and Bootstrap Theme
	Author: RGarcia
	Version: 0.1
*/
/* BASE - base style, variables, mixins, etc */
/* line 2, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 6, ../scss/base/_normalize.scss */
.page-header {
  margin-top: 30px;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "segoe UI", "segoe WP", "segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
}

/* line 9, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 15, ../scss/base/_base.scss */
ul,
li {
  list-style: none;
}

/* line 22, ../scss/base/_base.scss */
input,
textarea,
button {
  -moz-border-radius: 10;
  -webkit-border-radius: 10;
  border-radius: 10;
}

/* MODULES - individuals site components */
/* LAYOUTS - page layout styles */
/* line 2, ../scss/layouts/_nav.scss */
.navbar {
  width: 90%;
  margin: auto;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px;
}
/* line 11, ../scss/layouts/_nav.scss */
.navbar a {
  color: #00aff0 !important;
  font-size: 20px;
  letter-spacing: -0.5px;
  padding-bottom: 24px !important;
  padding-top: 20px !important;
}

/* line 24, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #00aff0 !important;
  color: #fff !important;
}
